---
---
<div class="flex items-center">
    <a href="/" class="flex items-center space-x-2">
      <img src="/logo.png" alt="BooKoo" class="w-8 h-8" />
      <span class="text-xl font-bold bg-gradient-to-r from-purple-400 to-pink-400 text-transparent bg-clip-text">
        BooKoo
      </span>
    </a>
  </div>